for padding
:root {
    --screen-padding: 10px 20px;
  }
  
  /* for color */
  :root {
    --app-black: #000000;
    --app-white: #ffffff;
    --app-powderblue: #d1e3ff;
    --app-navyblue: #0355cc;
    --app-orange: #ff8a1d;
    --app-blurblack: #444;
  }
  
  /* custom font */
  @font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/roboto/Roboto-Regular.ttf") format("woff2");
  }
  
  @font-face {
    font-family: "Lato";
    src: url("./assets/fonts/lato/Lato-Regular.ttf") format("woff2");
  }
  
  @font-face {
    font-family: "Meriwether Sans";
    src: url("./assets/fonts/merwetther-sanse/MerriweatherSans-Regular.ttf")
      format("woff2");
  }
  
  /* Global reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Base styles for the entire document */
  body {
    box-sizing: border-box;
 
    font-family: Lato, Roboto sans-serif;
  }
  
  /* ------------------header work----------------------- */
  
  
  .info-bar {
    background-color: var(--app-black);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--screen-padding);
    gap: 10px;
    flex-wrap: wrap-reverse;
  }
  
  .info-contact,
  .info-email {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .fa-phone,
  .fa-envelope {
    color: var(--app-orange);
    font-size: 12px;
  }
  
  .info-text {
    color: inherit;
    font-size: 14px;
    font-weight: 400;
  }
  
  /*------------------nav bar -------------------*/
  
  /* Main navigation bar */
  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--screen-padding);
    background-color:var(--app-powderblue);
  }
  
  .nav-icon-text {
    font-size: 24px;
    color: var(--app-navyblue);
  }
  
  .nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
  }
  
  .nav-links li a {
    color: var(--app-black);
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }
  
  .nav-links li a:hover {
    color: var(--app-navyblue);
  }
  
  .nav-menu {
    display: none;
  }
  
  .fa-bars {
    font-size: 25px;
    color: var(--app-navyblue);
  }
  
  @media only screen and (max-width: 600px) {
    .nav-links {
      display: none;
    }
  
    .nav-menu {
      display: block;
    }
  }

  
/* ---about section------- */
.about-sec {
  margin: 200px;
  margin-top: 160px;
}
.about-text h1 {
  font-family: sans-serif;
  font-weight: 750;
}
.btn-1 {
  padding: 10px 40px;
  margin-top: 25px;
  border-radius: 5px;
  color: white;
  background-color: blue;
  border: 1px solid blue;
  font-size: 25px;
  border-style: none;
  font-family: sans-serif;
  font-weight: 200;
}
.btn-1:hover {
  background-color: white;
  border: 1px solid blue;
  color: blue;
}
.about-paragraph {
  margin-top: 15px;
}
.about-paragraph p {
  line-height: 23px;
  font-size: 16px;
  font-family: "Meriwether Sans";
}
.about-image {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -530px;
  margin-right: 40px;
  /* width: 300px; */
}
@media only screen and (max-width: 600px) {
  .about-sec {
    margin-top: 20px;
    margin-left: 60px;
    position: relative;
    left: 50px;
  }
  .about-text {
    display: inline-block;
  }
  .about-text h1 {
    display: flex;
    flex-direction: row;
  }
  .about-paragraph {
    width: 100%;
    display: flex;
  }
  .about-paragraph p {
    width: 100%;
    line-height: none;
    font-size: 18px;
  }

  .about-image img {
    width: 100%;
    height: auto;
    margin-top: 350px;
    position: relative;
    top: 5px;
    left: 20px;
  }
}